@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------ NAV STYLES ------ */
.nav--link {
  @apply
  text-gray-400
  md:text-xl pt-3 pr-3
}

.nav--description {
  @apply
  mb-1
  text-gray-400
  md:text-lg
}

/* ------ GAME CARD STYLES ------ */
.card-info {
  @apply
  text-gray-400
  px-2
  my-4
  md:text-xl
}

.game-card--btn {
  @apply
  bg-pink-800
  w-20
  h-8
  text-gray-300
  rounded-md
  border-opacity-0
  md:w-32 text-lg
}

/* ------ CREATE GAME STYLES ------ */
.create-game--label {
  @apply
  block mb-5
  md:pl-7
}

.create-game--span {
  @apply
text-gray-300 
  text-lg
}

.create-game--input {
  @apply
  mt-1
  pl-1
  text-pink-800
  w-48
}

.create-game--textarea {
  @apply
  h-24
}

.create-game--btn {
  @apply
  bg-pink-800 
  text-gray-300 
  w-20
  h-10
  relative
}

/* ------ CATEGORIES STYLES ------ */
.categories--btn {
  @apply
  text-gray-300
  bg-purple-700
  w-24
  h-10
  md:w-32 md:h-16 md:text-xl
}